html {
    background-image: url('img/123.jpg');
    font-size: 10px;
    background-size: cover;
}
.music {
    display: flex;
  flex: 1;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
}
.music2{
  display: flex;
  flex: 1;
  min-height: 11vh;
  align-items: center;
  justify-content: center;
}
.music3{
  display: flex;
  flex: 1;
  min-height: 12vh;
  align-items: center;
  justify-content: center;
}

    .key {
        border: .3rem solid black;
        border-radius: .7rem;
        margin: 0.5rem;
        padding: 1rem .5rem;
        transition: all .07s ease;
        width: 5rem;
        text-align: center;
        color: rgb(187, 255, 0);
        background: rgba(211, 28, 28, 0.4);
        text-shadow: 0 0 .5rem rgb(248, 248, 248);
        height: 50px;
        width: 50;
      }
      .playing {
        transform: scale(1.1);
        border-color: #1a10a8;
        box-shadow: 0 0 1rem #1a10a8;
      }
      
      kbd {
        display: block;
        font-size: 3rem;
      }
      .sound {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: .1rem;
        color: #00ff9d;
      }
      h1{
        font-family: 'Courier New';
        color: #000;
        font-size: 40px;
        text-align: center;
      }
      h2{
        font-family: 'Courier New';
        color: #000;
        font-size: 40px;
        text-align: center;
      }